.shop-container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.cart-container {
  background: #ffe0b3;
  padding: 10px;
}

.ReviewOrderBtn {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #ff9900;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .shop-container {
    grid-template-columns: 1fr;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    order: 2;
  }
  .cart-container {
    order: 1;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .ReviewOrderBtn {
    width: 80%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
